* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  background-color: #fff;
  padding-top: 110px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-size: 15px;
  text-align: center;
  line-height: 200%;
}

.container {
  padding: 0 30px;
}

.hide {
  display: none;
}

.hide-yscroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.section-padding {
  padding: 40px 0 100px;
}

.heading--primary {
  color: #252b46;
}

.heading--secondary {
  color: #9194a1;
}

.heading-level-alpha {
  font-size: 30px;
  line-height: 1.5;
}

.heading-level-beta {
  font-size: 25px;
}

.heading-level-gamma {
  font-size: 24px;
}

.heading-level-normal {
  font-size: 16px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 9px 8px #dadadb;
  background: #f7f7f9;
  color: #333;
  text-decoration: none;
  padding: 0 16px;
  line-height: 48px;
  height: 48px;
}

.btn--block {
  display: block;
}

.btn--red {
  background: #fa5757;
  color: #ffffff;
}

.btn--blue {
  background: #5368df;
  color: #ffffff;
}

.btn--outline {
  border: 2px solid #f7fafd;
  background: transparent;
  box-shadow: none;
}

.btn--noshadow {
  box-shadow: none;
}

.navbar {
  width: 100%;
  height: 110px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20000;
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background: #fff;
  transition: height 0.2s linear 0.01s;
}

.navigation {
  position: absolute;
  top: 110px;
  right: 0;
  width: 100%;
  padding: 0 25px;
  opacity: 1;
  text-align: center;
  z-index: 20000;
  height: 80vh;
}

.navigation__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  width: 100%;
  padding: 22px 0;
  border-top: 1px solid #4c526c;
}

.navigation__link {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fcfcfc;
  text-decoration: none;
}

.navigation__social,
.footer__social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar--expand {
  height: 100vh;
  background: #252b46;
  align-items: flex-start;
  opacity: 0.98;
  overflow-y: scroll;
  transition: height 0.5s linear 0.25s;
}

.navigation__link--nav-btn {
  width: 100%;
  display: block;
  padding: 11px;
  border: 2px solid #f7fafd;
  border-radius: 12px 15px;
}

.logo__text--white-theme {
  fill: #fff;
}

.logo__circle--white-theme {
  fill: #fff;
}

.logo__bookmark--blue-theme {
  fill: #252b46;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro__img {
  margin: 0 -20px;
  position: relative;
}

.intro__img:before {
  content: '';
  background-color: #5368df;
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: -100;
  top: 50px;
  border-radius: 0 0 0 100px;
}

.intro__text {
  padding-top: 57px;
}

.intro__heading {
  margin-bottom: 16px;
}

.intro__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 40px;
}

.tabs {
  list-style: none;
  margin: 45px 0;
  display: flex;
  flex-direction: column;
}

.tab {
  text-align: center;
  border-top: 1px solid #ddd;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.tab__link {
  display: inline-block;
  padding: 20px 0;
  color: #333;
}

.content__text {
  text-align: center;
  padding-top: 50px;
}

.content__img {
  position: relative;
}

.content__img::before {
  content: '';
  background-color: #5368df;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -35px;
  z-index: -100;
  top: 32px;
  border-radius: 0 186px 100px 0;
}

.content__heading {
  margin: 20px 0;
}

.content__btn {
  margin: 20px 0;
}

.tab--border-bottom {
  border-bottom: 1px solid #ddd;
}

.tab__link--active {
  border-bottom: 4px solid #fa5757;
}



summary::-webkit-details-marker {
  display: none;
}

summary {
  /* font-size: 0.9rem; */
  font-weight: 500;
  padding: 30px 0;
  border-bottom: 1px solid black;
}

summary::after {
  content: url('../images/icon-arrow.svg');
  float: right;
}

details[open] summary::after {
  content: url('../images/icon-arrow.svg');
  display: inline-block;
  transform: rotate(180deg);
  filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.download__header {
  margin: 159px auto 37px;
}

.download__heading {
  margin: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, auto));
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 50px;
  justify-content: center;
}

.card {
  max-width: 280px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px -3px 7px 3px #edecea;
  border-radius: 10px;
  position: relative;
}

.card::after {
  content: ' ';
  background-image: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: inline-block;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.card--button {
  width: 85%;
  margin: 0 auto 25px;
  background-color: hsl(231, 69%, 60%);
  padding: 12px 10px;
  color: white;
  border-radius: 7px;
}

.card__img {
  margin-bottom: 39px;
  margin-top: 52px;
}

.card__title {
  margin-bottom: 15px;
}

.card__details {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.questions {
  width: 100%;
  margin: 143px auto 50px;
  text-align: center;
}

.questions__title {
  margin-bottom: 20px;
}

.questions__text {
  margin-bottom: 30px;
}

.questions__details {
  margin-bottom: 50px;
}


.footer {
  width: 100%;
  margin: auto;
  background: hsl(231, 69%, 60%);
  color: white;
}

.subscribe__details {
  padding-top: 77px;
  letter-spacing: 0.3rem;
  padding-bottom: 28px;
}


.subscribe__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 60px;
}

.subscribe__input {
  width: 100%;
  padding: 16px 20px;
  margin: auto auto 16px;
  border-radius: 7px;
  border: none;
}

.subscribe--btn {
  margin-bottom: 62px;
  background-color: hsl(0, 94%, 66%);
  color: white;
}

.aboutUs {
  background-color: hsl(229, 31%, 21%);
  padding-bottom: 44px;
}

footer .logo {
  display: block;
  text-align: center;
  padding-top: 42px;
  margin-bottom: 48px;
  z-index: 1;
}

footer path.logo__text {
  fill: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.footer-nav__item {
  margin-bottom: 40px;
  list-style-type: none;
}

.footer__social {
  position: relative;
  align-items: baseline;
}
.navigation{
  display:flex;
  
}
body {
  font-family: "Lato", sans-serif;
  background: gainsboro;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to top left, #000066 1%, #336699 74%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.img11:hover{

width: 50px;
height: 50px;
=======

/* Media queries size is temporary */

@media only screen and (min-width: 700px) {
  /*Medium view */

  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, minmax(430px, 500px));
    grid-column-gap: 30px;
  }

  .chrome {
    align-self: start;
  }

  .firefox {
    align-self: center;
  }

  .opera {
    align-self: flex-end;
  }
}

/*Desktop view */

@media only screen and (min-width: 1281px) {
  .container {
    padding: 0 170px;
  }

  p {
    font-size: 18px;
  }
  .cards {
    grid-column-gap: 70px;
  }

  .aboutUs {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 32px;
  }
  .footer-nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-nav__item {
    margin-bottom: 0;
    margin-right: 48px;
  }
  .footer__social {
    align-items: center;
  }
  form.subscribe__form {
    flex-direction: row;
    padding-bottom: 70px;
    justify-content: center;
  }
  input[type='email'],
  .subscribe--btn {
    width: 24vw;
    padding: 20px 0;
    margin: 0 5px 0;
  }
  .subscribe--btn {
    width: 10vw;
  }
  details p {
    text-align: start;
  }

}